@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found 404</title>
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" type="text/css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Content/Animation/Style.css" type="text/css">
</head>
<body>
    <section id="animation">
        <div class="anim-icon" id="404"></div>
    </section>
    <section id="data">
        <div class="data">
            <div class="go-home">
                @Html.ActionLink("« Go Home", "Index", "Home", null, new { @class = "nav-link" })
            </div>
        </div>
    </section>
    <script src="~/Content/Animation/ErrorsAnimation.js" type="text/javascript"></script>
</body>
</html>
