body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login-content {
    margin-top: 2px;
    background: white;
    border: 1px solid #ccc !important;
    border-radius: 16px;
}

.login-menu-data {
}

.login-menu-arrow {
}

.login-menu-arrow-text {
    margin-top: 150px;
}

.login-menu-social {
    margin-top: 50px;
}

@media screen and (max-width: 576px) {
    .login-menu-arrow-text {
        margin-top: 0px;
        margin-left: 10px;
    }

    .login-menu-social {
        margin-top: 0px;
        margin-left: 10px;
    }
}

.btn-facebook {
    width: 70%;
    background: #44619d;
}

.btn-google {
    width: 70%;
    background: #3593fa;
}

.soc-btn {
    margin-top: 20px;
}

.soc-text {
    margin-left: 10px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .soc-text {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .soc-text {
        display: inline;
    }

    .soc-btn {
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .btn-facebook {
        width: 100%;
    }

    .btn-google {
        width: 100%;
    }
}


.login-menu-data h4 {
    margin-top: 15px !important;
    margin-left: 10px !important;
}

.login-menu-social h6 {
    margin-top: 15px !important;
}
